@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
.bit, .bit th, .bit td {
  font-family: 'Press Start 2P' !important;
  font-size: 12px !important;
}

.PokemonAltRow-types {
  font-size: 10px;
  float: right;
  width: inherit;
  padding: 0;
}

.table td, .table th {
  border: none;
}

.stat-row {
  font-size: 12px;
}

.stat-cell {
  width: 16.6666666667;
}

body {
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/cubes.png);
}

.body-content {
  padding: 9px;
  margin: 0 auto;
  max-width: 1000px;
  background: white;
  box-shadow: 0px 0px 17px -6px black;
}

.autosuggestWrapper {
  position: relative;
  z-index: 999;
  overflow-y: scroll;
  box-shadow: 0 3px 4px -1px #666;
}

.autosuggestWrapper::-webkit-scrollbar {
  display: none;
}

.autosuggestContainer {
  margin-left: 0;
  position: relative;
  background: white;
  padding: 9px;
  -webkit-margin-after: 0;
}

.autosuggestItem {
  list-style: none;
  padding: 6px;
}

.autosuggestItem:hover, .autosuggestItem.item-selected {
  color: white;
  cursor: pointer;
  background-color: rgb(255, 64, 64);
  font-style: italic;
}

.lg-sprite-wrapper {
  height: 60px;
  width: 60px;
  margin: 9px;
  display: inline-block;
}

.lg-sprite {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.center {
  margin: 0 auto;
}

.table-sm .no-padding th {
  padding: 0;
}

.sort-button {
  height: 37px;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 0;
  padding-left: 6px;
  background: white;
  border: none;
  border-radius: 18px;
  border-right: 4px solid #dee2e6;
}

.sort-button:focus {
  outline: none;
}

.table-align-middle.table td, .table-align-middle.table th {
  vertical-align: middle !important;
}

.hp {
  background: #f5c6cb;
}

.atk, .def, .spa, .spd, .spe {
  background: #bee5eb;
}

.nav-link.selected {
  color: rgb(255, 64, 64);
}

.table-sm td, .table-sm th {
  padding: .3rem 9px;
}

.selected-button {
  background: #545b62
}

.fab {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 12px;
  right: 12px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 7px 21px -6px #444;
  transition: all .35s;
  z-index: 9999;
  cursor: default;
}

.fab i {
  margin-top: 15px;
  font-size: 150%;
  color: white;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.fab.opened i {
  height: 10%;
  border-bottom: 1px solid #80e6cc;
  margin-bottom: 18px;
}

.fab .open-content {
  display: none;
  opacity: 0;
}

.fab.opened .open-content {
  display: inherit;
  opacity: 1;
}

.fab.opened {
  height: calc(100% - 100px);
  width: calc(100% - 24px);
  background: linear-gradient(#0C9, #068888);
  padding: 0 18px;
}

.bg-dark {
  background: #00cc99 !important
}
