<div>
  <input class="form-control"
         ng-style="::{width : width}"
         name="{{::name}}" placeholder="{{::placeholder}}"
         ng-focus="focus()" ng-blur="blur()" ng-change="search()" ng-required="required"
         ng-model="searchTerm" />
  <div class="autosuggestWrapper">
    <ul class="autosuggestContainer" data-ng-if="SHOW">
      <li class="autosuggestItem" data-ng-repeat="item in filteredList" data-ng-mousedown="select(item)">
        <div auto-transclude></div>
      </li>
      <li class="autosuggestItem" data-ng-if="!filteredList.length && !LOADING">No results</li>
    </ul>
  </div>
</div>
