<section>
  <div>
    <input class="form-control" placeholder="search..."
        ng-model-options="{updateOn: 'default blur click', debounce: { 'default': 500, 'blur': 0 }}"
        ng-model="filters.search" />
    <br/>
    <a class="fab " ng-class="{opened: opened}">
      <i ng-click="opened = !opened; filterDex(opened)" class="fa fa-{{opened ? 'close' : 'filter'}}"></i>
      <div class="open-content">
        <div>
          <p class="text-white">Selected Formats</p>
            <div class="boop" ng-class="{'selected-boop': selected.formats[format]}"
                              ng-click="selected.formats[format] = !selected.formats[format]"
                              ng-repeat="format in formats" class="btn btn-secondary">
                  {{format}}
            </div>
        </div>
        <br/>
        <div>
          <p class="text-white">Form Options</p>
          <div class="boop" ng-class="{'selected-boop': selected.allowPreEvo}" ng-click="selected.allowPreEvo = !selected.allowPreEvo">Pre-evolved</div>
          <div class="boop" ng-class="{'selected-boop': selected.allowAlt}" ng-click="selected.allowAlt = !selected.allowAlt">Alt-forms</div>
        </div>
        <br/>
        <div>
          <p class="text-white">Generation</p>
          <select style="max-width:300px" class="center-select center form-control sneaky-control" ng-model="selected.gen" ng-change="getDex(selected.gen)" ng-options="gen.name for gen in gens"></select>
        </div>
      </div>
    </a>
    <div class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr class="text-center stat-row no-padding">
            <th class="stat-width stat-cell" ng-repeat="stat in stats">
              <button class="sort-button" ng-click="changeOrder(stat)">
                {{stat}}
                <i class="fa fa-chevron-{{(order.by == ('stats.' + stat)) ? (order.desc ? 'up' : 'down') : ''}}"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody ng-repeat="poke in filteredDex | filter : filters.search | orderBy : order.by : order.desc  track by $index">
          <tr>
            <td colspan="6">
              <div class="PokemonSprite is-normalized-width">
                <span class="{{getSpriteClass(poke)}}"></span>
              </div>
              <a href="{{getSmogonUrl(poke)}}" target="_blank" style="padding-right:10px">{{poke.name}} ({{poke.stats.formats[0]}})</a>
              <div class="PokemonAltRow-types">
                <ul class="TypeList">
                  <li ng-repeat="type in poke.stats.types track by $index">
                    <a href="" class="Type {{type.toLowerCase()}}">{{type}}</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr class="text-center stat-row">
            <td class="stat-width stat-cell" ng-repeat="stat in stats">{{poke.stats[stat]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
